<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout('authors', ~{::title}, ~{::section})}">

<title>Authors list</title>
<section>
    <table class="table">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Surname
            </th>
            <th>
                Name
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author: ${authors}" th:object="${author}">
            <td th:text="*{id}">
                1
            </td>
            <td th:text="*{surname}">
                Some author surname
            </td>
            <td th:text="*{name}">
                Some author name
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>